Repository yuweiqi666/yu-v3-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

修改eslint命令 支持mjs 和 cjs的校验
  package.json
Due: prettier --write

chore: 增加commitlint配置
  .commitlintrc.cjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: 引入elementplus
  auto-imports.d.ts
  components.d.ts
  package-lock.json
  package.json
  src/views/login/index.vue
  vite.config.ts
Due: eslint --fix, prettier --write

feat: 新增mock配置
  mock/user.ts
  package-lock.json
  package.json
  src/api/user/type.ts
  src/store/user/index.ts
  src/utils/request.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat: getuserInfo接口mock数据
  mock/user.ts
  src/api/user/index.ts
  src/api/user/type.ts
  src/store/user/index.ts
  src/utils/request.ts
  src/views/login/hooks/useUserLogin.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue,cjs,mjs}
  prettier --write: any of: *.{scss,less,styl,css,html,json,md}
